head {
    background-color: rgb(45, 117, 251);
}

h1 {
    color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
